<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Curriculo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-default">

    <a class="navbar-brand" href="">CURRICULUM VITAE</a>

        <ul class="nav navbar-nav ml-auto navbar-right">
        <li><a class="cta-nav nav-link" href="#home">INÍCIO</a></li>
        <li><a class="cta-nav nav-link" href="#experience">EXPERIÊNCIAS</a></li>
        <li><a class="cta-nav nav-link" href="#about">EDUCAÇÃO</a></li>
        <li><a class="cta-nav nav-link" href="#hability">HABILIDADES E INTERESSES</a></li>
        <li><a class="cta-nav nav-link" href="#contact">CONTATO</a></li>
      </ul>

  </nav>
  <div class="container">
  <section id="home">
  <div>
    <h1 class="nome"> Nathalia Loubaque </h1>
    <p class="endereco">Endereço: Rua Castelo de Guimarães 187 Castelo - Belo Horizonte/MG·</p>
    <p class="endereco">Telefone: (31) 99550-6571 </p>

  </div>
  <div class="sobre">
    <p>Experiência como auxiliar administrativo administrativo em empresa de médio porte.</p>
    <p>Rotinas do departamento pessoal em contabilidade.</p>
    <p>Experiência com tradução de livros, documentos e midia (inglês/português).</p>
    <p>Conhecimentos básicos em desenvolvimento web, JavaScript, C e C++.</p>
  </div>
  </section>

  <section id="experience">

    <div class=" resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <h1> Experiências </h1>
      <div class="resume-content">
        <h3 class="mb-0">Analista de Departamento Pessoal</h3>
        <div class="subheading mb-3">NTW Contabilidade e Gestão Empresarial</div>
        <p>● Processos de admissão, cálculo e fechamento da folha de pagamento, rescisões, férias, obrigações acessórias (CAGED, RAIS, DIRF, GFIP, etc), preposto em sindicatos e Ministério do Trabalho, implantação e rotinas do e-Social, consultoria
          aos clientes no âmbito trabalhista, dentre outras tarefas ligadas ao registro e controle de pessoal.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Julho 2019 - Agosto 2021</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Tradutor e Revisor</h3>
        <div class="subheading mb-3">Freelancer.</div>
        <p>● Tradução de livros, artigos, áudios e videos.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Abril 2018 - Junho 2019</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Assistente Administrativo</h3>
        <div class="subheading mb-3">Comedere LTDA.</div>
        <p>● Departamento pessoal – controle de benefícios e organização de documentos, mantendo contato e resolvendo pendências com funcionários;</p>
        <p>● Lançamento de notas fiscais de entrada e acompanhamento de estoque;</p>
        <p>● Serviços financeiros, contado direto com fornecedores;</p>
        <p>● Lançamentos e cadastros gerais no sistema;</p>
        <p>● Orientação e acompanhamento de aprendizes.</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Março 2016 - Junho 2018</span>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="w-100">
      <h1 class="mb-5">Educação</h1>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
        <div class="resume-content">
          <h3 class="mb-0">Universidade Estacio de Sa</h3>
          <div class="subheading">Graduação</div>
          <div>Engenharia de Software.</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Julho de 2021 - Julho de 2025</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
        <div class="resume-content">
          <h3 class="mb-0">Cento Universitário Unihorizontes</h3>
          <div class="subheading">Graduação</div>
          <div>Ciências Econômicas</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Janeiro 2018 - Dezembro 2020</span>
        </div>
      </div>
    </div>

    <div class="w-100">
      <h1 class="mb-5">Cursos & Certificações</h1>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-trophy"></i>
          Algoritmo e Lógica de Programação do Absoluto ZERO! Completo
        </li>
        <i>20 Horas (online) - Udemy</i>
        <li>
          <i class="fa-li fa fa-trophy"></i>
          Agile Fundamentals: Including Scrum and Kanban.
        </li>
        <i>5 horas (online) - Udemy.</i>
        <li>
          <i class="fa-li fa fa-trophy"></i>
          The Complete 2021 Web Development Bootcamp
        </li>
        <i>50 horas (online) - Udemy.</i>
      </ul>
    </div>
  </section>

  <section id="hability">
    <div>
    <h1 class="mb-5">Habilidades</h1>
    <i class="fa-li fa fa-check"></i>
    <li>
      Rotinas de departamento pessoal.</li>
    <li>
      <i class="fa-li fa fa-check"></i>
      Resolução de problemas.
    </li>
    <li>
      <i class="fa-li fa fa-check"></i>
      Facilidade para aprender e desenvolver novos conhecimentos.
    </li>
    <li>
      <i class="fa-li fa fa-check"></i>
      Inglês avançado.
    </li>
  </div>
  <div>
    <h1 class="mb-5">Interesses</h1>

    <div class="subheading mb-3">Linguagens de Programação &amp; ferramentas: </div>
    <ul class="list-inline">
      <li class="list-inline-item">
        <i class="i-icons fab fa-html5 fa-2x"></i>
      </li>
      <li class="list-inline-item">
        <i class="i-icons fab fa-css3-alt fa-2x"></i>
      </li>
      <li class="list-inline-item">
        <i class="i-icons fab fa-js-square fa-2x"></i>
      </li>
      <li class="list-inline-item">
        <i class="i-icons fab fa-bootstrap fa-2x"></i>
      </li>
      <li class="list-inline-item">
        <i class="i-icons fab fa-windows fa-2x"></i>
      </li>
    </ul>
    <div class="subheading mb-3">Tecnologia e desenvolvimento. </div>
    </div>
  </section>
  </div>

  <div class="footer">
    <section id="contact">
        <div class="icons">

        <a href="mailto:natloubaque@gmail.com">
          <i class="icone far fa-envelope fa-3x"></i>
        </a>
        <a href="https://www.linkedin.com/in/nathalia-loubaque-2100ab139/"
          <i class="icone fab fa-linkedin-in fa-3x"></i>
        </a>
        <a href="https://github.com/natloubaque">
          <i class="icone fab fa-github fa-3x"></i>
        </a>
        <a href="https://www.instagram.com/natloubaque/">
          <i class="icone fab fa-instagram fa-3x"></i>
        </a>
        <a href="https://www.facebook.com/nat.loubaque">
          <i class="icone fab fa-facebook-f fa-3x"></i>
        </a>
      </div>
    </section>
    <p>Nathalia Loubaque Borges</p>
  </div>
</body>
</html>
